
/* 
.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
} */

.center-content {
  margin-top: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: black;
}

.btn {
  color: whitesmoke !important;
  background-color: rgb(99, 50, 179) !important;
}
.btn:hover {
  background-color: rgb(185, 49, 190) !important;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
